// Specific CSS for your home-page

.titre {
    size: 40px;
    font-family: $font;
}

.background-img {
  //background-image: url(asset-path("jardins-partages.jpg"));
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-image: linear-gradient(rgba(8, 8, 8, 0.4),rgba(54, 65, 8, 0.4)), url(asset-path("jardins-partages.jpg"));
  color : white;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	// background-size: cover;
	// width: 100%;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 340px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner h2 {
  font-size: 30px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards {
  padding: 35px;
  align-content: space-between;
}

.card-potager {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-potager > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-potager h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.search-form-control {
  position: absolute;
  width: 800px;
  top: 450px;
}

.search-form-control .btn {
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 6px;
  border-radius: 25px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 40px;
  padding: 30px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

$font: 'Poppins', sans-serif;

.intro {
  line-height: 140%;
  background: linear-gradient(to right, #1EDD88 0%, #1da6b8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 30px;
		family: $font;
	};
}


// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }


// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }


