// Specific CSS for your home-page
<style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
</style>

.background-img {
    opacity: 0,5;
    background-color: black;
    //background-image: url(asset-path("jardins-partages.jpg"));
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1); 
    background-image: linear-gradient(rgba(251, 243, 130, 0.76),rgba(239, 251, 69, 0.4)), url(asset-path("jardins-partages.jpg"));


}

.btn-success {
    color: white !important;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    color: white;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    color: white;
}