// Specific CSS for your home-page

.background-img {
  //background-image: url(asset-path("jardins-partages.jpg"));
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1); 
  background-image: linear-gradient(rgba(8, 8, 8, 0.4),rgba(54, 65, 8, 0.4)), url(asset-path("jardins-partages.jpg"));
  color : white;
	padding: 40px; 
	// background-size: cover;
	// width: 100%;
}

.banner {
	padding-left: 150px;
}
