// Import page-specific CSS files here.
@import "home";

h1 {
    // font-weight: bold;
    color:#58d48f;
    // padding: 20px;
}

.content {
    display: flex
  }

#map {
    height: 100vh;
    position: sticky;
    top: 0
}



// @media (min-width: 576px) {
//     .cards {
//         grid-template-columns: 1fr;
//     }
// }

// @media (min-width: 1200px) {
//     .cards {
//         grid-template-columns: 1fr;
//     }

//     #map {
//         display: block;
//     }
// }