
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h1>Découvrez nos espaces à cultiver</h1>
      <% @potagers.each do |potager| %>
        <div class="card-potager">
          <% if potager.photo.attached? %>
            <%= cl_image_tag potager.photo.key, class:"card-img" %>
          <% end %>
          <div class="card-description">
            <%= potager.name %>
            <%= potager.surface %>
          </div>
          <div>
            <%= link_to 'Voir', potager %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>