<div class="footer">
	<ul>
  	<li>Partage<i class="fas fa-hand-holding-heart"></i></li>
		<li>Equitable<i class="fas fa-hands-helping"></i></li>
		<li>Durable<i class="fas fa-hands"></i></li>
	</ul>
</div>