<div class='background-img'>
  <div class="banner">
    <h1>Go go potager !</h1>
    <h2>Le plaisir de cultiver</h2>
    <%= link_to 'Tous nos potagers', potagers_path, class:"btn btn-success" %>
    <p>Vous avez la main verte mais pas de jardin ? </p>
    <p>Vous avez un jardin mais ni le temps ou l'envie de le cultiver ? </p>
    <p>La solution est là !</p>   
    </p>
  </div>
</div>
  <div class='cards'>
    <div class='card-potager'>
      <%= image_tag "potager1.jpg", class:'card-img' %>
      <p>Plantez de sublimes fleurs
      <br>Dès 19€/ mois </p>
    </div>
    <div class='card-potager'>
      <%= image_tag "potager2.jpg", class:'card-img' %>
      <p>Créez votre jardin zen
      <br>Dès 29€/ mois </p>
    </div>
    <div class='card-potager'>
      <%= image_tag "potager4.jpg", class:'card-img'  %>
      <p>Cultivez votre potager prêt à être béché
      <br>Dès 39€/ mois </p>
    </div>
  </div>
</div>
