<div class='background-img'>
    <h1>GO GO POTAGER</h1>
    <p>Propriétaires, vous avez un jardin mais vous n'avez ni le temps ni l'envie de le cultiver ? Jardiniers, vous aimeriez cultiver un potager mais vous n'avez pas de jardin ? Rencontrez-vous et partagez les récoltes ! C’est un échange convivial et gagnant-gagnant ouvert à tous.
    </p>
    <%= link_to 'Tous nos potagers', potagers_path, class:"btn btn-success" %>
</div>
    <div class='cards'>
        <% @potagers.each do |potager| %>
            <div class='card-potager'>
                <%= image_tag potager.img_url, class:'card-img' %>
                <p>
                <%= potager.name  %>
                <%= potager.description  %>
                </p>
            </div>
        <% end %>
    </div>

</div>

