.btn-success {
	color: white !important;
	margin: 50px;	
}

.btn-blue {
	display: inline-block;
	background-color: rgb(82, 131, 158);
	padding: 16px 36px;
	border-radius: 50px;
	color: white;
}

// input[type="submit"] {
// 	border: 2px solid blue;
// 	color: white;
// }

.btn-bottom-dashboard {
	width: 100%;
	display: flex;
	justify-content: center;
}