.btn-blue {
	display: inline-block;
	background-color: rgb(82, 131, 158);
	padding: 16px 36px;
	border-radius: 50px;
	color: white;
}

.btn-bottom-dashboard {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn-grad {
	background-image: linear-gradient(to right, #06afaf 0%, #00c795 100%);
	color: white
}

.btn-grad:hover { 
	background-position: right center;
}