.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // width: 20vw;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-trip-pricing {
  // color: #58d48f;
  font-size: 20px;
  
}

// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;

//   p {
//         padding: 2px;
//         // color: #58d48f;
//         font-size: 14px;
//          text-decoration: none; 
//          &:hover {
//              text-decoration: none !important;
//          }
// }

.card-trip .card-trip-infos {
  padding-left: 20px;
  // display: flex;
  justify-content: space-between;
  position: relative;
  height: 120px;
  h2 {
    font-weight: bold;
    font-size: 18px;
    align-items: flex-end;
    // color : #58d48f;
  }
  p {
    padding: 2px;
    // color: #58d48f;
    font-size: 14px;
     text-decoration: none; 
     &:hover {
         text-decoration: none !important;
     }
  }

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 20px;
  top: -50px;
  width: 60px;
}

.card-img {
    padding-bottom: 20px;
    width: 300px;
    height: 100px;
}


// .potager-grid {
//     display: grid;
//     width: 70vw;
//     grid-template-columns: auto auto auto;
//     a {
//         &:hover {
//             text-decoration: none;
//             color: #58d48f;
//         }
//     }
//   }
  
//   .content {
//     display: flex;
//   }