.content-wrapper {
	min-height: calc(100vh - 70px - 80px);
}

.footer {
	background-color: rgb(15, 160, 58);
	height: 90px;
	text-align: center;
	color: white;
	padding: 10px;
}

.logo-align {
	list-style-type: none;
	align-content: center;
}
