.navbar-lewagon {
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-between;
  background: white;
  box-shadow: 1px 0px 3px lightgray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

$font: 'Poppins', sans-serif;

.grad {
  background: linear-gradient(to right, rgb(165, 165, 165) 0%, rgb(165, 165, 165) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 18px;
		family: $font;
	};
}

.grad:hover { 
  background: linear-gradient(to right, #1EDD88 50%, #1da6b8 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
