.navbar-lewagon {
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-between;
  background: white;
  box-shadow: 1px 0px 3px lightgray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
